$header-bg: url(../images/pattern.png);
$header-height: 300px;
$white: #ffffff;

header {
  background: $header-bg;
  color: $white;
  height: $header-height;
}

.sidenav {
  background: $header-bg;
  color: $white;

  li a {
    color: $white;
  }
}
